input[type=text], select, textarea {
    width: 100%; /* Ancho total de la página */
    padding: 12px; /*añdimos un poco de relleno*/
    border: 1px solid #ccc; /* Color del borde */
    border-radius: 4px; /* Redondeamos los bordes */
    box-sizing: border-box;
    margin-top: 6px; /* Margen respecto el top de la página*/
    margin-bottom: 16px; /* Margen respecto el bottom de la página */
}

input[type=submit] {
    background-color: #425683;/*color de fondo*/
    color: white; /*color del texto*/
    padding: 12px 20px;/*Tamaño de nuestro botón*/
    border: none; /*no establecemos un borde especifico*/
    border-radius: 4px;/*radio del borde*/
    cursor: pointer;/*cursor tipo"mano"*/
    float: right;/*Situamos el boton a la parte derecha*/
    font-size: 1.2em;/*tamaño de la fuente*/
    width: 13%; /*ancho del boton*/
    border-style: solid;/*estilo del borde del boton*/
}

input[type=submit]:hover {
    background-color: #ffffff;
    color: #000000;
}

.container {
    border-radius: 5px;/*Radio del borde de nuestro formulario*/
    background-color: #445782;/*Color de fondo del formulario*/
    padding: 55px;/*Padding para que no solape con el logo*/
}

.logo-header { float: right; }

label{
    color: white;
    font-size: 1.5em
}

form { margin-top: 3%; }